body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header {
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
}

.header-top {
    display: flex;
    margin: 48 0;
    padding: 0 200px;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.headerlink {
    display: flex;
    padding: 0px;
    flex: auto;
    justify-content: flex-end;
    gap: 30px;
}

.hero {
    display: flex;
    padding: 100px 200px;
}

.hero-left {
    flex-direction: column;
    width: 50%;
}

.hero-img {
    background-color: #e5e7eb;
    flex: auto;
    text-align: center;
}

.hero-title {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    margin: 0px;
}

.hero-text {
    size: 18px;
    color: #e5e7eb;
    margin: 0px;
}

.hero-button {
    margin: 0px;
}

button {
    background-color: #3882f6;
    color: #e5e7eb;
    border-radius: 10px;
    padding: 5px 20px;
    border: 0;
    margin-top: 10px;
}

.inside-call {
    background-color: #3882f6;
}

.infotitle {
    size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.quote {
    background-color: #e5e7eb;
}

.quote-text {
    size: 36px;
    font-style: light italic;
    color: #1f2937;
}

ul {
    list-style-type: none;
}

a:link {
    text-decoration: none;
    color: #e5e7eb;
    size: 18px;
}